:root {
  --main-color: rgb(103, 46, 187);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */

@media (min-width: 992) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* START Navbar */

.nav .container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
@media (max-width: 650px) {
  .nav .container .links {
    display: none;
  }
}
.nav .container .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 650px) {
  .nav .container .icon {
    display: none;
  }
}

.nav .container .icon:hover .links {
  position: absolute;
  top: 23px;
  left: 0px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav .container .icon:hover .links li {
  margin: 10px;
  padding: 10px;
}

.nav .container .icon span {
  width: 30px;
  height: 4px;
  margin: 2px;
  background-color: var(--main-color);
}

.nav .links li {
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  font-size: 14px;
}

.nav .links li a:hover {
  color: var(--main-color);
}
.nav .logo p {
  font-size: 18px;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: bold;
}

.nav .btn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: var(--main-color);
  border: none;
  border-radius: 15px;
}
.nav .btn:hover {
  box-shadow: 0, 0, 0, 10, 0.1;
}
.nav .btn a {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
/* END Navbar */

/* Start landing Page */

.landing {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
}
.landing .container h1 {
  max-width: 500px;
  font-size: 40px;
}
.landing .container p {
  opacity: 70%;
}
.landing .container .btn {
  margin-top: 25px;
  padding: 18px 10px;
  cursor: pointer;
  background-color: var(--main-color);
  border: none;
  border-radius: 50px;
}
.landing .container .btn a {
  color: #fff;
  padding: 10px;
}

.landing .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 636px;
  margin-top: -244px;
  flex-direction: row;
  transform: rotate(-90deg);
}
.landing .container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: row;
}
.landing .container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: row;
  color: black;
  font-size: 13px;
}
/* End landing Page */
